body{

    background: rgb(209,170,255);
    background: linear-gradient(90deg, rgba(209,170,255,1) 0%, rgba(188,196,255,1) 14%, rgba(106,230,232,1) 69%, rgba(191,255,204,1) 100%);
    margin: auto;
    width: 30%;
    padding: 10vh;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;

}

h1{
    font-weight: lighter;
    font-size:xx-large;
    color:darkslategray;
}

#everything{
    background-color: floralwhite;
    border-radius: 2em;
    padding-bottom: 3%;
}

#control-section{
    background-color: whitesmoke;
    border-radius: 2em;
    padding-bottom: 5vh;
    padding-top: 1vh;


}

button{
width: 4em;
height: 2em;
background-color: transparent;
border: 0.1em solid darkslategray;
border-radius: 0.5em;
box-sizing: border-box;
text-decoration: none;
font-weight:bold;
color: darkslategray;
text-align: center;
transition: all 0.2s;
}

button:hover{
    color: whitesmoke;
    background-color: darkslategray;
}

#text-input{
    height: 2em ;

    background-color: transparent;
    color: darkslategray;
    font-weight: bold;
    border: transparent;
    border-bottom: 00.1em solid darkslategray;

}


#text-input:focus {

    background-color: darkslategray;
    color: whitesmoke;
  }

  #priority-selector{
      position: relative;
      text-align: center;
      background-color: slategray;
      color: snow;
      font-size: medium;
      border-radius: 0.5em;
  }


  ul{
      position: relative;
      right: 3vh;
      list-style: none;

  }

li{
    background-color:lightcyan;
    margin: 1vh;
    border-radius: 0.5em;
}

li :hover{
    background-color: darkslategray;
    color:whitesmoke;
    border-radius: 0.5em;
}

.checked{
    background-color: darkslategray;
}

.done {
    text-decoration: line-through;
    color: whitesmoke;
    background-color: darkslategray;
    border-radius: 0.5em;
  }